In [58]:
import pandas as pd
import numpy as np
from scipy import stats

In [59]:
data = pd.read_csv('tips.csv')

# bill_sum = data.groupby('time')['total_bill'].sum().values
# tip_sum = data.groupby('time')['tip'].sum().values
# print('avg tip for dinner is {:.2%}'.format(tip_sum[0]/bill_sum[0]))
# print('avg tip for lunch is {:.2%}'.format(tip_sum[1]/bill_sum[1]))
# #question 1

In [60]:
data["avg_tip"]=data[["tip","total_bill"]].apply(lambda x:x["tip"]/x["total_bill"],axis=1)
tip_avg = data.groupby('time')['avg_tip'].mean().values
print('avg tip for dinner is {:.2%}'.format(tip_avg[0]))
print('avg tip for lunch is {:.2%}'.format(tip_avg[1]))
#question 1

avg tip for dinner is 15.95%
avg tip for lunch is 16.41%

In [61]:
day_list = data.groupby('day')['avg_tip'].sum().index.to_list()
tip_avg = data.groupby('day')['avg_tip'].mean().values
df_2 = pd.DataFrame(
    {
        'day':day_list,
        'precentage':np.round(tip_avg*100,2)
    },
    columns = ['day','precentage']
)
df_2 # question2

    day  precentage
0   Fri       16.99
1   Sat       15.32
2   Sun       16.69
3  Thur       16.13

In [62]:
index_list = data.groupby(['day','time'])['avg_tip'].mean().index.to_list()
tip_avg = data.groupby(['day','time'])['avg_tip'].mean().values
y = tip_avg.argsort()

index_list[y[-1]] # question 3 here i use the avg percentage of tips of 
                  #each time of each day and get the highest time of a day

('Fri', 'Lunch')

In [63]:
df_4 = data[['total_bill','avg_tip']]
df_4.corr() # question 4 i think we need to compute the percentage of tips as if 
            #the amount of meal becomes larger, the amount of tip will be come larger ,but
            #the percentage is more stable

            total_bill   avg_tip
total_bill    1.000000 -0.338624
avg_tip      -0.338624  1.000000

In [64]:
df_5 = data[['size','avg_tip']]
df_5.corr()

            size  avg_tip
size     1.00000 -0.14286
avg_tip -0.14286  1.00000

In [65]:
print('tip and size has a negative correlation')# question 5

tip and size has a negative correlation

In [66]:
df_6 = data.groupby('smoker').size()
x = '{:.2%}'.format(df_6[1]/(df_6[0]+df_6[1]))
print('there are ' + x+ ' people are smoking ')#question 6

there are 38.11% people are smoking

In [67]:
data

     total_bill   tip     sex smoker   day    time  size   avg_tip
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

In [68]:
a = data.groupby(['day','time'])['avg_tip'].mean()
a

day   time
Fri   Dinner    0.158916
      Lunch     0.188765
Sat   Dinner    0.153152
Sun   Dinner    0.166897
Thur  Dinner    0.159744
      Lunch     0.161301
Name: avg_tip, dtype: float64

In [69]:
print('tips are not increasing with the time in each day')#question 7

tips are not increasing with the time in each day

In [70]:
data_yes = data[data.smoker == 'Yes'][['total_bill','avg_tip']] # select Friday's data
data_no = data[data.smoker == 'No'][['total_bill','avg_tip']] # select Friday's data

In [71]:
data_yes.corr()

            total_bill   avg_tip
total_bill    1.000000 -0.457351
avg_tip      -0.457351  1.000000

In [72]:
data_no.corr()

            total_bill   avg_tip
total_bill    1.000000 -0.199772
avg_tip      -0.199772  1.000000

In [73]:
data_yes = data[data.smoker == 'Yes']['tip'].to_list() # select Friday's data
data_no = data[data.smoker == 'No']['tip'].to_list()# select Friday's data
stats.ttest_ind(data_yes,data_no)

Ttest_indResult(statistic=0.09222805186888201, pvalue=0.9265931522244976)

In [74]:
print('the correlation of smokers is greater than that of non-smokers, but as the p-value is 0.92, there is no significant different betwwen smoker and no-smoker')

the correlation of smokers is greater than that of non-smokers, but as the p-value is 0.92, there is no significant different betwwen smoker and no-smoker